body{
    font-family: 'Raleway', sans-serif;
}

.h-60{
    height: 60%;
}
.h-65{
    height: 65%;
}
.h-70{
    height: 70%;
}
.card{
    border: none;
    border-radius: 10px;
}
a{
    color: black;
}